<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <header>
    <%- include('partials/_header') %>
  </header>

  <!-- SECTION SEARCH -->
  <div class="search">
    <!-- QUESTION unsure about specific route, do we include Api inside url parameters?? -->
    <form class="d-flex" action="/api/search/main/search" method="GET">
      <!-- <input type="hidden" name="searchType" value="title"> -->
      <label for="searchType">Search By:</label>
      <select name="searchType" id="searchType">
        <option value="title">By Title</option>
        <option value="artist">By Artist</option>
       <option value="maxPrice">Max Price</option>
       <option value="minPrice">Min Price</option>
      <input class="form-control me-2" type="text" name="searchText" placeholder="Search" aria-label="Search">
      <label for="searchOrder">Sort By:</label>
       <select name="searchOrder" id="searchOrder">
        <option value="lowPrice">Lowest Price</option>
        <option value="highPrice">Highest Price</option>
        <option value="byTitle">By Title</option>
        <option value="byArtist">By Artist</option>
       </select>
      <button class="btn btn-outline-danger button-width" type="submit"><i class="fas fa-search"></i> Search</button>
    </form>
  </div>
  <% if (user) { %> 
    <form method="POST" action="/logout" class="form-inline">
      <div class="form-group form-inline">
        <label>Logged In As: <%= user.name %></label>
        <button type="submit" class="btn btn-outline-dark" style="margin: 1em">Logout</button>
      </div>
    </form>
  <% } else { %>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/login" style="margin: 1em">Login</a>
      </div>
    </div>
    <% } %>
</body>

</html>
