<!DOCTYPE html>
<html lang="en">
<head>
  
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

</head>
<body>

    <main>
    <h3>Login</h3>
    <form method="POST" action="/login">
    <div class="form">
      <label for="email">Email Address:</label>
      <input class="form-control" type="email" name="email" placeholder="Enter email" style="width: 500px">
    </div>
    <div class="form">


      <button type="submit" class="btn btn-primary" style="width: 250px; margin: 1em">Login</button>
    </div>
    </form>
  </main>
</body>
</html>
