<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Montserrat:wght@500&display=swap" rel="stylesheet">

    <!-- App CSS -->
    <link rel="stylesheet" href="/styles/login.css" type="text/css" />

  </head>


  <div class="login">
    <body>
      <main>
        <h3>The 525</h3>
        <form method="POST" action="/login" >
          <div class="form">
            <label for="email">Email Address:</label>
            <input
              class="form-control"
              type="email"
              name="email"
              placeholder="Enter email"
              style="width: 500px"
            />
          </div>
          <div class="formbtn">
            <button type="submit" class="form-button"> Login </button>
          </div>
        </form>
      </main>
    </body>
  </div>
</html>
