// See: https://sass-lang.com/
*,
*:after,
*:before {
  box-sizing: border-box;
}

:root {
  --header-outer-height: 125px;
  --header-inner-height: 60px;
  --header-height-difference: calc(
    var(--header-outer-height) - var(--header-inner-height)
  );
}


body {
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  position: relative;

  main {
    width: 90%;
    height: 100%;

    display: flex;
    flex-direction: column;
    vertical-align: bottom;
    justify-content: center;
    // align-items: center;

    margin: auto;
    padding: 100px 0 70px 0;
  }

  // SEARCH BAR
  .search {
    display: flex;
    // flex-direction: column;
    justify-content: center;
    margin: 0.5em;
    padding: 10px;
    z-index: 0;
  }

  .search-form {
    width: 50%;
    margin: .5em;
    display: flex;
    align-content: space-between;
    flex-direction: row;
  }
  .card {
    height: 50em;
    width: 40em;;
    margin: 2em 2em 2.5em 2em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


  .picture-size {
    padding: 2em, 2em 0.5em 2em;
    max-height: 40em;
    // max-width: 50em;
  }

  .row {
    justify-content: center;
    margin-top: 2em;
    display: flex;
    flex-direction: column
  }

  .card-text {

    margin: 0.5em;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
  }
}

}
// .card:hover {
//   /* box-shadow: 10px 10px 5px grey; */
//   border: #D45B5B solid;
//   transition: background 3s;
//   // vertical-align: bottom;
//   // justify-content: center;
// }

.cnl {
  margin: 2rem;
}

.span-cnl {
  width: 8rem;
  border: #D45B5B solid 1px;
}

.input-cnl {
  border: #D45B5B solid 1px;
}

.button-cnl {
  width: 130px;
  margin-top: 1rem;
}

.heading-cnl {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2rem;
  color: #D45B5B;
  font-size: 30pt;
}

.listings {
  margin:auto;
}
