// See: https://sass-lang.com/
*,
*:after,
*:before {
  box-sizing: border-box;
}

:root {
  --header-outer-height: 125px;
  --header-inner-height: 60px;
  --header-height-difference: calc(
    var(--header-outer-height) - var(--header-inner-height)
  );
}


body {
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  position: relative;

  main {
    width: 90%;
    height: 100%;

    display: flex;
    flex-direction: column;
    vertical-align: bottom;
    justify-content: center;
    // align-items: center;

    margin: auto;
    padding: 100px 0 70px 0;
  }

  // SEARCH BAR
  .search {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 10px;
  }

  .d-flex {
    width: 50%;
    margin: .5em;
  }

.logo-div {
  display: flex;
  background-color: #D45B5B;
  justify-content: center;
}

.picture-size {
  padding: 2em;;
  max-height: 50em;
  max-width: 50em;
}

.row {
  justify-content: center;
  margin-top: 10px;

}

.card {
  height: 50em;
  width: 50em;;
  margin: 1em;

  display: flex;
  flex-direction: column;

}

.card:hover {
  /* box-shadow: 10px 10px 5px grey; */
  border: #D45B5B solid;
  transition: background 3s;
  vertical-align: bottom;
  justify-content: center;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  /* display: flex; */
}

/* Dropdown Button */
.dropbtn {
  background-color: #f8bf12;
  color: white;
  padding: 16px;
  font-size: 30px;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  width:250px;
	height:100px;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width:250px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #F86F0F;}

// CSS for the firt option of create a new listing
// .create-new-listing {
//   display: flex;
//   flex-direction: column;
//   width: 100%;
// }

.cnl {
  margin: 2rem;
}

.span-cnl {
  width: 8rem;
  border: #D45B5B solid 1px;
}

.input-cnl {
  border: #D45B5B solid 1px;
}

.button-cnl {
  width: 130px;
  margin-top: 1rem;
}

.heading-cnl {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2rem;
  color: #D45B5B;
  font-size: 30pt;
}

.sold-sign {
  color: red;
}

h1 {
  color: #D45B5B;
}
title {
  color: #D45B5B;
}

.fas-fa-heart {
  color: black;
}

.activeHeartIcon {
  color: red;
}

}

.listings {
  margin:auto;
}