*,
*:after,
*:before {
  box-sizing: border-box;
}

:root {
  --header-outer-height: 125px;
  --header-inner-height: 60px;
  --header-height-difference: calc(
    var(--header-outer-height) - var(--header-inner-height)
  );
}


body {
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  position: relative;

  main {
    width: 90%;
    height: 100%;

    display: flex;
    flex-direction: column;
    vertical-align: bottom;
    justify-content: center;

    margin: auto;
    padding: 0.5em 0 1em 0;
  }

  // SEARCH BAR
  .search {
    display: flex;
    justify-content: center;
    margin: 0.5em;
    padding: 0.5em;
    z-index: 0;
  }

  .search-form {
    width: 50%;
    margin: .5em;
    display: flex;
    align-content: space-between;
    flex-direction: row;
  }

  .search-button {
    padding: 0;
    border: none;
    background: none;

    font-size: 1.3em;
    margin: 1em 1em 1em 0.5em;
    font-size: 1em;
    background-color: white;
  }

  .search-button:hover {
    background-color: Black;
    color: white;
    cursor: pointer;
    padding: 0em .5em 0em 0.5em;
    transition: background 3s;
  }

  .items-container {
      margin:auto;

    .card {
      height: 50em;
      width: 40em;;
      margin: 2em 2em 2.5em 2em;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .picture-size {
        padding: 2em, 2em 0.5em 2em;
        max-height: 40em;
      }

      .picture-size:hover {
        box-shadow: 24px 13px 20px 0px #F3B3AC;
        border: #F3B3AC;
        transition: background 3s;
        // vertical-align: bottom;
        // justify-content: center;
      }

      .row {
        justify-content: center;
        margin-top: 2em;
        display: flex;
        flex-direction: column
      }

      .card-text {
        margin: 0.5em;
      }
    }
  }

}
